{% if page.categories[0] %}
  {% assign categories_sorted = page.categories | sort_natural %}

  <p class="page__taxonomy">
    <strong><i class="fas fa-fw fa-folder-open" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].categories_label | default: "Categories:" }} </strong>
    <span itemprop="keywords">
    {% for category_word in categories_sorted %}
      {% assign category_label = category_word | replace_first: "ko_", "" | replace_first: "en_", "" | replace: "_", " " %}
      {% assign category_path = category_word | downcase | prepend: "/" | append: "/" %}
      <a href="{{ category_path | relative_url }}" class="page__taxonomy-item p-category" rel="tag">{{ category_label }}</a>{% unless forloop.last %}<span class="sep">, </span>{% endunless %}
    {% endfor %}
    </span>
  </p>
{% endif %}
